body {
    /* background: linear-gradient(135deg, #2ca1e4, #f1f3f5); */
    background-image: url(pics/2.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Comic Sans MS', cursive; */
    text-align: center;
    padding: 50px;
    color: #000000;
  }
  
  .container {
    max-width: 600px;
    font-style: italic;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(31, 135, 255, 0.623);
  }
  
  button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color:transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 0 10px rgba(31, 135, 255, 0.623);
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
  #surprise {
    margin-top: 30px;
  }
  
  .hidden {
    display: none;
  }
  
  #surprise img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 15px;
  }
  .bubu{
    margin-top: 0.01px;
    margin-right: 1000px;
    padding: 10px;
    
  }
  .heart{
margin-top: 10px;   
 padding: 200px;
  }
h1{
  font-weight: lighter;
}